<%include partials/header %>

<div></div>
                       
  <form action='/' method='POST'>
    <input type='text' name='name' placeholder='name'/>
    <textarea name='message' placeholder='message'></textarea>
    <input type='submit'/>
  </form>
                       
  <script>
    $('form').on('submit',makeRequest);
      function makeRequest(e){
        e.preventDefault();
        $.ajax({
          url:'/ttt/play',
          type : 'POST',
          success: function(data){
            if(data.message){
              $('div').html(data.message);
            } else {
              $('div').html('Sorry, an error occured');
            }
          },
          error: function(){
            $('div').html('Sorry, an error occurred');
          }
      });
    }
  </script>
<%include partials/footer  %>
