<%include partials/header %>

<div></div>
                       
  <form action='/' method='POST'>
    <input type='text' name='name' placeholder='name'/>
    <textarea name='message' placeholder='message'></textarea>
    <input type='submit'/>
  </form>
                       
  <script>
    $('form').on('submit',makeRequest);
      function makeRequest(e){
        e.preventDefault();
    
    }
  </script>
<%include partials/footer  %>
