<%include partials/header %>

<div id="f1">
<form action="/ttt" method="POST">
	Enter your name to play:<input type="text" name="name" placeholder="name">
	<button>submit</button>
</form>
</div>

<%include partials/footer %>
