<%include partials/header %>
<h1> Tic-Tac-Toe  </h1>

<h3>Hello <%=name %>, <%=date%>  <br> <a href="/logout" style="font-size: 18px"> Logout </a></h3>

<div class="grid-container">
  <div id="item1"></div>
  <div id="item2"></div>
  <div id="item3"></div>  
  <div id="item4"></div>
  <div id="item5"></div>
  <div id="item6"></div>
  <div id="item7"></div>
  <div id="item8"></div>
  <div id="item9"></div>
</div>
<ul> <li>P1:x</li> <li>P2:o</li> <li id="result">Winner: </li></ul>

<%include partials/footer %>
