body{ 
   font-family:nusa;
    margin: 0;
    height: 100%;
    background-image:url("ttt_pattern.png");
    background-size:cover;
  }

  h1{
	text-align:center;
}

h3{
	text-align:center;
}


form{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  background-color: rgb(255,248,247,0.65);
  padding: 15px;
  border-radius: 8px;
}